.card-img-top {
  height: 300px; /* Consistent height for all images */
  object-fit: cover; /* This will crop the image to fill the container without distortion */
  width: 100%;
}

.btn-custom-grey {
  background-color: #adb5bd; /* Lighter grey color */
  border-color: #adb5bd; /* Match the border color */
  color: black; /* Text color */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effect */
}

.btn-custom-grey:hover {
  background-color: #ced4da; /* Even lighter grey on hover */
  border-color: #ced4da; /* Match the border color on hover */
}
